body {
    font: 13px/1.4 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    word-wrap: break-word;
}

body, input, .dRpMnu, .dRpMnu form, .bckDrp, .imgMdCnt, .schMdCnt, .tag::before, .tag::after, span.cnt1ImgA, #notiCnt, .noti_Cnt-Txt {
    background: #fff;
}

body, .uSrName, .side-tagBox-Bdy ul li a {
    color: #424242;
}

* {
    box-sizing: border-box;
}

a, .side-tagBox-Bdy ul li a:hover {
    color: #4078C0;
    background-color: transparent;
}

a, a:hover, .navSel, .navItm:hover, .tag, .tag:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    outline: 0px none;
}

.side-tagBox-Bdy ul li a {
    text-decoration: none;
}

header.mnHdr_1 {
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0px 10px 0px;
    z-index: 100;
}

header.mnHdr_1, .dRpMnu form {
    opacity: 0.9;
}

.mgFx1 {
    margin: 0px -8px 0px -8px;
}

header.mnHdr_1, nav.s2dHdr, div.uSrImg, .bck1w, .notiPt2 {
    background: #f1f1f1;
}

header.mnHdr_1 {
    border-bottom: 1px solid #dedede;
}

.bck2w, .DsClmr {
    background: #ddd;
}

.bck2w {
    border-bottom: 3px solid #f1f1f1;
}

nav.s2dHdr {
    border: 1px solid #dedede;
}

header.mnHdr_1, .bNrImg {
    left: 0px;
}

header.mnHdr_1, .tag::after, .bckDrp {
    top: 0px;
}

header.mnHdr_1, .bNrImg, .tag::after {
    right: 0px;
}

.mnInr {
    width: 980px;
}

.aUto, .mnInr, .imgMdCnt, .schMdCnt {
    margin-right: auto;
    margin-left: auto;
}

.mnHdr_1fR {
    margin: 10px 0px 0px 0px;
}

i {
    color: #8A8A8A;
}

span.mnLgo {
    background-image: url("img/mnLgo.png");
    height: 28px;
    width: 28px;
    vertical-align: -10px;
    margin-right: 5px;
}

#notiCnt {
    background: #CF4B4B;
    padding: 0px 3px;
    margin: -21px 0px 0px -14px;
    font-size: 11px;
    font-weight: 600;
    z-index: 1;
    border-radius: 6px;
}

.notiIcn {
    background: #ccc;
    -webkit-animation: color_change 3s infinite alternate;
    -moz-animation: color_change 3s infinite alternate;
    -ms-animation: color_change 3s infinite alternate;
    -o-animation: color_change 3s infinite alternate;
    animation: color_change 3s infinite alternate;
}

/*

@-webkit-keyframes color_change {
    0% {
        color: #a49e9e;
        background: #ccc;
        }
    100% {
        color: #F9FF10;
        background: #424242;
        }
}

@-moz-keyframes color_change {
    0% {
        color: #a49e9e;
        background: #ccc;
        }
    100% {
        color: #F9FF10;
        background: #424242;
        }
}

@-ms-keyframes color_change {
    0% {
        color: #a49e9e;
        background: #ccc;
        }
    100% {
        color: #F9FF10;
        background: #424242;
        }
}

@-o-keyframes color_change {
    0% {
        color: #a49e9e;
        background: #ccc;
        }
    100% {
        color: #F9FF10;
        background: #424242;
        }
}

@keyframes color_change {
    0% {
        color: #a49e9e;
        background: #ccc;
        }
    100% {
        color: #F9FF10;
        background: #424242;
        }
}

*/

.notiIcn, .notiIcn:hover {
    margin: -17px 9px 0px -28px;
    font-size: 18px;
    position: absolute;
    border-radius: 50%;
    padding: 0px 5px;
    height: 25px;
    width: 25px;
    color: #F9FF10;
}

.notiIcn:hover {
    background: #C6C2C2;
    color: #8A8A8A;
}

/* search bar */
input.sChBar_1[type=text] {
    width: 865px;
}

input.sChBar_2[type=text] {
    width: 715px;
}

input.sChBar_1[type=text], input.sChBar_2[type=text] {
    min-height:34px;
    padding: 7px 8px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right 8px center;
}

input.sChBar_1[type=text], input.sChBar_2[type=text], .sChMnu, input[type=text], textarea {
    border: 1px solid #DDD;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset;
}

input.sChBar_1[type=text], input.sChBar_1[type=text]:focus, input.sChBar_2[type=text], input.sChBar_2[type=text]:focus, input[type=text]:focus, textarea:focus {
    outline: medium none;
}

input.sChBar_1[type=text]:focus, input.sChBar_2[type=text]:focus, input[type=text]:focus, textarea:focus {
    border-color: #51A7E8;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset, 0px 0px 5px rgba(81, 167, 232, 0.5);

}

form.schMdle input[type=submit] {
    position: absolute;
    margin: 8px 0px 0px -62px;
    border: none;
}

input.schSnd[type=submit] {
    visibility: hidden;
}

/* notification module */
.notiPt1 {

}

.notiPt2 {
    opacity: 0.9;
    margin: 0px 0px 0px -344px;
    width: 300px;
    min-height: 250px;
    height: auto;
}

.notiPt2 header {
    text-align: center;
}

.notiPt2 header, .notiPt2 div.notiBdy {
    padding: 10px;
}

.noti_Hgtr {
    max-height: 250px;
    overflow: hidden;
}

.scroll_y {
    overflow: scroll;
    overflow-x: hidden;
}

.notiPt2 div.notiHdr {
    background: #f0ee33;
    color: #504444;
    padding: 1px 10px;
}

.noti_Cnt-Wpr {
    margin: 0px 10px 0px 0px;
}

.noti_Cnt-Txt {
    padding: 15px;
}

.noti_Cnt-Txt, button.noti_viewMore {
    margin: 0px 0px 10px 0px;
}

.notiFtr {

}

#sChIcn, .notiIcn {
    color: #a49e9e;
}

#sChIcn {
    font-size: 16px;
    margin: 7px 0px 0px 8px;]
}

#lGnMdle i {
    margin:  9px 0px 0px 5px;
}

.sChMnu {
    height: 35px;
    width: 35px;
    padding: 3px;
    vertical-align: -15px;
}

.sChMnu span {
    display: block;
    margin: 4px 2px;
    padding: 2px;
    background: #ddd;
}

.sChMnu span:hover {
    background: #fff;
}

.navItm {
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
}

.dRpMnu {
    top: 100%;
    left: 0px;
    z-index: 5;
}

.dRpMnu form {
    padding: 8px;
    margin: -2px 0px 0px -182px;
}

.dRpMnu, div.cdeCnt-Wpr {
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}

embed, .wide, .bckDrp, input[type=text], input[type=password], .bNrImg, img.uSrImg, .uSrName, div.cdeCnt-Wpr, div.cnt1dsply, textarea, .DsClmr, .blog-post_Wpr, .progress-Wpr  {
    width: 100%;
}

input[type=text], input[type=password], textarea {
    padding: 8px 0px;
    font-size: 13px;
    border: 1px solid #ccc;
    border: none;
}

.dRpMnu, .dRpMnu form, input[type=text], input[type=password], button, .button_1, div.cdeCnt-Wpr, div.cdeCnt-Bdy, nav.s2dHdr ul, div.cnt1dsply, span.cnt1ImgA, textarea {
    border-radius: 4px;
}

.cntUsr {
    margin: 80px 0px 0px;
}

button, button.button-primary, .button_1, .button.noti_viewMore {
    border-radius: 2px;
    cursor: defult;
    text-align: center;
    white-space: nowrap;
    outline: opx none;
    border: medium none;
    box-shadow: none;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
}

button.button-primary, .button_1 {
    background-color: #4CCC20;
    background-image: linear-gradient(#4CCC20, #57C531);
}

button.noti_viewMore {
    background-color: #CF4B4B;
    background-image: linear-gradient(#D54F4B, #C03B3B);
}

button.noti_viewMore:hover {
    background-color: #C9312C;
    background-image: linear-gradient(#C9312C, #A71616);
}

.button-primary, .button_1, .button_1:hover, div.prjNme1, #notiCnt, button.noti_viewMore, .nav-header, .side-tagBox header {
    color: #fff;
}

button.button-primary:hover, .button_1:hover {
    background-color: #569E3D;
    background-image: linear-gradient(#5EC23B, #5CBC3B);
}

.cP, button, input[type=submit], .navItm, .pRjCntA img, div.txtLbl2 img, ul.cdeVew1a li, nav.s2dHdr ul li, ul.cdeCnt-Fdr li, .wFrme div, .notiIcn {
    cursor: pointer;
}

.pA, #sChIcn, .mnBdy, .tag::before, .tag::after, div.prjNme1, .cntMsg i, #lGnMdle i, #notiCnt {
    position: absolute;
}

.pF, header.mnHdr_1, .imgMdCnt, .schMdCnt {
    position: fixed;
}

.pR, .tag {
    position: relative;
}

.dN {
    display: none;
}

.dI, span.mnLgo, .uSrStat div, i, .tag, nav.s2dHdr ul li, span.cnt1ImgA, .wFrme div, ul.sclNav li {
    display: inline-block;
}

.dB, form.aUto input[type=text], form.aUto input[type=password], div.prjNme1 span, span.cnt1bDiv a, .uSrBio1 span, .schMd-Bdy span, .noti_Cnt-Txt span, button.noti_viewMore span {
    display: block;
}

.fL, .tags li, div.txtLbl1, div.cdeCnt-Sbr, .cnt1aDiv {
    float: left;
}

.fR{
    float: right;
}

.zl3 {
    z-index: 15;
}

